<section id="services">
      <div class="container">
            <div class="row">
                  <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About Me</h2>
                        <!-- <h3 class="section-subheading text-muted">Personal/Fun/Professional</h3> -->
                  </div>
            </div>
            <div class="row text-center">
                  <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>

                        <h4 class="service-heading">Personal</h4>
                        <hr class="primary">
                        <p class="text-muted">I met my wife Alane while working at her family's restaurant El Rancho, just off of I-70 as you're heading up into the mountains. We've been married for 30 years and have three great kids. </p>
                  </div>

                  <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Fun</h4>
                        <hr class="primary">
                        <p class="text-muted">I've been an avid skier my whole life and I love taking advantage of Colorado's great outdoors. I play the guitar and ukulele, like reading Dick Francis books and look forward to my Boyz Weekend every couple of years with my best friends. </p>
                  </div>

                  <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>

                        <h4 class="service-heading">Professional</h4>
                        <hr class="primary">
                        <p class="text-muted">My work experience includes sales, sales management, and operations, all within retail, a Fortune 50 company, and a non-profit. I'm looking forward to using my speaking skills to represent a tech company by being a customer-facing representative.</p>
                  </div>
            </div>
      </div>
</section>
