<!-- nav bar header -->
<div id="headerBar">
  <header>
    <nav class="navbar-default navbar-fixed-top navbar-shri">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Chip Morris</a>
      </div>
      <div id="menu">
        <ul class="nav nav-pills  navbar-right">
          <li class="active"><a href="#headerBar">Home</a></li>
          <li><a href="#github">Github</a></li>
          <li><a href="#schoolWork">Work History</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
</div>


