<!-- bootstrap picture carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" align="center">
      <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- wrapper for slides -->
      <div class="carousel-inner" role="listbox">

            <!-- pictures -->
            <div class="item active">
                  <img src="img/gschool2.jpg" alt="gSchool picture" height="324" width="300">
            </div>

            <div class="item">
             <img src="img/Sarah.jpg" alt="Sarah" height="324" width="300">
       </div>

       <div class="item">
             <img src="img/Ben.jpg" alt="Ben" height="324" width="300">
       </div>

       <div class="item">
            <img src="img/Luis.jpg" alt="Luis" height="324" width="300">
      </div>

      <div class="item">
            <img src="img/Galvanize-Lobby.jpg" alt="Galvanize" height="324" width="300">
      </div>
</div>
</div>