<!-- trigger the modal with a button -->
<div id="schoolWork" class="center">
  <h3>School &amp; Work History</h3>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View History</button>

  <!-- modal-->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Experience</h4>
        </div>

        <div class="modal-body">
          <div id="header">
            <h2>Chip Morris</h2>
            <h4>Developer Evangelist</h4>
            <p>303.646.7088</p>
            <p>chip.morris1@yahoo.com</p>
          </div>
        </div>


        <div id="section">
          <a href="http://www.galvanize.com"><img src="img/gschool-logo.png" alt="gSchool logo" style="width: 97px; height: 35px"></a>
          <h2>Galvanize</h2>
          <h5>July - December 2015</h5>
          <p>Galvanize Full Stack is a 24-week program that teaches students how to make an impact as a contributing member of a developent team. While at gSchool I gained a strong understanding of HTML, CSS, CRUD JavaScript, JQuery, MEAN Stack, PostgreSQL, Angular, and Git.</p>

          <hr>

          <a href="http://aimforbrilliance.org"><img src="img/aim-logo.png" alt="AIM logo" style="width: 97px; height: 28px"></a>
          <h2>AIM Institute</h2>
          <h5>April 2012 - June 2015</h5>
          <p>AIM is a not-for-profit membership organization whose mission is to promote technology to create brilliant communities.</p>
          <ul>
            <li>Member of the Going National Committee</li>
            <li>Responsible for opening the Denver office</li>
            <li>Helped develop $900k grant application in partnership with the Colorado Community College System and the Colorado Department of Higher Education</li>
          </ul>

          <hr>

          <a href="http://www.pepsi.com"><img src="img/pepsi_logo.gif" alt="Pepsi logo" style="width: 97px;"></a>
          <h2>Pepsi Bottling Group</h2>
          <h5>1998 - 2008</h5>
          <p>The world's largest manufacturer, seller, and distributor of Pepsi-Cola beverages.</p>
          <p>Held various roles of increasing responsibility including:
            <ul>
              <li>Food Service Sales Manager</li>
              <li>Marketing Equipment Supervisor</li>
              <li>Key Account Manager</li>
              <li>Food Service Sales Representative</li>
            </ul>

            <hr>

            <a href="http://www.unomaha.edu/"><img src="img/UNO.jpg" alt="UNO" style="width: 97px; height: 35px"></a>
            <br><br>
            <a href="http://neiu.edu"><img src="img/Northeastern_Illinois_University.png" alt="Northeastern Ill Univ" style="width: 97px; height 31px"></a>

            <h2>Education</h2>
            <h5>University of Nebraska at Omaha</h5>
            <ul>
              <li>Master's Degree Program/Secondary Education</li>
              <li>Completed 43 hours of study</li>
            </ul>

            <h5>Northeastern Illinois University</h5>
            <ul>
              <li>B.S. Political Science with a minor in English</li>
            </ul>

            <hr>

            <a href="http://www.bbbs.org"><img src="img/volunteerism.jpg" alt="Volunteer logo" style="width: 50px; height: 45px"></a>

            <h2>Volunteer Work</h2>
            <ul>
              <li>Big Brother's Big Sister's</li>
              <li>Elkhorn High School Swim Team Board</li>
              <li>Board Member Omaha Restaurant Association</li>
              <li>Junior Achievement</li>
              <li>President, Golden Marlins Swim Team</li>
              <li>Board Member Shelton Elementary School</li>
            </ul>

            <hr>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
