<!-- Study hours. This will probably come out at some point when I no longer want to track  or highlight gSchool coding hours -->

<div class="container myStudyHours">
  <h4>gSchool Study Hours</h4>
  <p>gSchool is a 24 week coding program. The class runs from 9-5 Monday through Friday. If you break it down, that's 119 days of class and 833 hours of coding time. As you can see below, my hours of study far exceeded that amount.</p>
  <p>This is the first project I created. I presented it to the class during Week 10 of the course.</p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Days Studying</th>
        <th>Hours Studying</th>
        <th>Avg Hrs Study S-S</th>
        <th>Avg Hrs Study M-F</th>
        <th>Max Hours /Day</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>160</td>
        <td>1379</td>
        <td>8.6</td>
        <td>9.7</td>
        <td>13.5</td>
      </tr>
    </tbody>
  </table>
</div>

<br>

