<!-- Study hours. This will probably come out at some point when I no longer want to track  or highlight gSchool coding hours -->

<!-- <div class="container myStudyHours">
  <h2>My Study Hours</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Avg Hrs Study S-S</th>
        <th>Avg Hrs Study M-F</th>
        <th>Days Studying</th>
        <th>Hours Studying</th>
        <th>Max Hours /Day</th>
        <th>Min Hours/Day</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>9.2</td>
        <td>10.5</td>
        <td>43</td>
        <td>394</td>
        <td>13.5</td>
        <td>2.0</td>
      </tr>
    </tbody>
  </table>
</div>

<br>

